html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF9F6;
}

.col{
    padding: 0px;
}

.hoverNav {
    cursor: pointer;
    margin: 0%;
}

.hoverNav:hover {
    color: rgb(94 234 212);
    cursor: pointer;
    margin: 0%;
}

button {
    border-color: skyblue;
    border-radius: 15px;
}

.themeDark{
    animation: themeChange .2s 1 ease-in normal;
    background-color: black;
    color: white
}

.themeLight{
    animation: themeChange2 .2s 1 ease-in normal;
    background-color: white;
    color: black
}

@keyframes themeChange {
    0% {
        background-color: white;
    }

    100% {
        background-color: black;
        color: white;
    }
}

@keyframes themeChange2 {
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
        color: black;
    }
}

.nav{
    background-color: rgba( 255, 255, 255, .2);
}

.hAnim{
    background-color: antiquewhite;
    height: 200px;
}

.hAnim:hover{
    cursor: progress;
    animation: hoverAnim .01s infinite linear normal;
}

@keyframes hoverAnim {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.bAnim{
    height: 200px;
    animation: buttonAnim 1s 1 linear normal;
}

.buttonButtonClass{
    height: 200px;
    cursor: pointer;
    background-color: aquamarine;
}

@keyframes buttonAnim {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(200%); /* Moves the div to the right offscreen */
    }
    51% {
        transform: translate(-220%); /* Reappears on the left offscreen */
    }
    100% {
        transform: translate(0); /* Stops at its original position */
    }
}

.sAnim{
    
}