html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF9F6;
}

.col{
    padding: 0px;
}

.hoverNav {
    cursor: pointer;
    margin: 0%;
}

.hoverNav:hover {
    color: rgb(94 234 212);
    cursor: pointer;
    margin: 0%;
}

button {
    border-color: skyblue;
    border-radius: 15px;
}

.nav{
    background-color: rgba( 255, 255, 255, .2);
}

/* start of theme animation */

.themeDark{
    animation: themeChange .2s 1 ease-in normal;
    background-color: black;
    color: white
}

.themeLight{
    animation: themeChange2 .2s 1 ease-in normal;
    background-color: white;
    color: black
}

@keyframes themeChange {
    0% {
        background-color: white;
    }

    100% {
        background-color: black;
        color: white;
    }
}

@keyframes themeChange2 {
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
        color: black;
    }
}

/* end of theme animation */

/* start of spin */

.hAnim{
    background-color: antiquewhite;
    height: 200px;
}

.hAnim:hover{
    cursor: progress;
    animation: hoverAnim .01s infinite linear normal;
}

@keyframes hoverAnim {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* end of spin */

/* start of slide V */

.bAnim{
    height: 200px;
    animation: buttonAnim 1s 1 linear normal;
}

.buttonButtonClass{
    height: 200px;
    cursor: pointer;
    background-color: aquamarine;
}

@keyframes buttonAnim {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(200%); /* Moves the div to the right offscreen */
    }
    51% {
        transform: translate(-220%); /* Reappears on the left offscreen */
    }
    100% {
        transform: translate(0); /* Stops at its original position */
    }
}

/* end of slide V */

/* start of Sizeup */

.hoverBig{
    background-color: aliceblue;
    height: 200px;
}

.hoverBig:hover{
    animation: sizeUp .2s 1 linear normal;
    transform: scale(1.1);
  }
  
  @keyframes sizeUp {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }

/* end of Sizeup */

/* start of rgb colors*/

.rainbow_text_animated {
    height: 200px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    color: transparent;
    animation: rainbow_animation 8s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
/* end of rgb colors*/

/* start of shrink */



/* end of shrink */